<div class="tableProduct">

  <mat-tab-group mat-align-tabs="center" (selectedTabChange)="onTagClick($event)" [selectedIndex]="selectedIndex">

    <mat-tab label="Products">

      <div class="div-first">
        <div class="div-second">
          <span class="span-style">
            <b>Legend:</b> &nbsp;
            <span class="cell-bud">&nbsp; &nbsp;
            </span>&nbsp; w/ Assigned &nbsp;
            <span class="cell-act"> &nbsp; &nbsp;
            </span>&nbsp; w/o Assigned &nbsp;
            <span class="cell">&nbsp; &nbsp;
            </span>&nbsp; Not Available
          </span>
        </div>
      </div>
      <ag-grid-angular style="width: 100%; height: calc(98vh - 170px);" class="ag-theme-balham" [unSortIcon]="true"
        [pagination]="true" [rowData]="productsData" enableCellExpressions="true" rowSelection="single"
        [defaultColDef]="defaultColDef" (firstDataRendered)="onFirstDataRendered($event)"
        [columnDefs]="columnDefsProducts" [paginationAutoPageSize]="true" [colResizeDefault]="colResizeDefault"
        (rowClicked)='onRowClicked($event)' (gridSizeChanged)="onGridSizeChanged($event)">
      </ag-grid-angular>

    </mat-tab>

    <mat-tab label="w/ Assigned CVE">

      <ag-grid-angular style="width: 100%; height: calc(98vh - 150px);" class="ag-theme-balham" [unSortIcon]="true"
        [pagination]="true" [rowData]="productsDataWithCVE" enableCellExpressions="true" rowSelection="single"
        unSortIcon="true" [defaultColDef]="defaultColDef" [paginationAutoPageSize]="true"
        (firstDataRendered)="onFirstDataRenderedWCVE($event)" (gridSizeChanged)="onGridSizeChanged($event)"
        (rowClicked)='onRowClicked($event)' [columnDefs]="columnDefsWithCVE" [colResizeDefault]="colResizeDefault">
      </ag-grid-angular>

    </mat-tab>

    <mat-tab label="w/o Assigned CVE">

      <ag-grid-angular style="width: 100%; height: calc(98vh - 150px);" class="ag-theme-balham" [unSortIcon]="true"
        [pagination]="true" [rowData]="productsDataWithoutCVE" enableCellExpressions="true" rowSelection="single"
        unSortIcon="true" [defaultColDef]="defaultColDef" [paginationAutoPageSize]="true"
        (firstDataRendered)="onFirstDataRenderedWoCVE($event)" (gridSizeChanged)="onGridSizeChanged($event)"
        (rowClicked)='onRowClicked($event)' [columnDefs]="columnDefsWithoutCVE" [colResizeDefault]="colResizeDefault">
      </ag-grid-angular>

    </mat-tab>
    <mat-tab label="Selected Product">
      <h5>{{this.selectProductTitle}}</h5>
      <ag-grid-angular style="width: 100%; height: calc(98vh - 210px);" class="ag-theme-balham" [unSortIcon]="true"
        [pagination]="true" [rowData]="this.selectedProductData" enableCellExpressions="true" rowSelection="single"
        unSortIcon="true" [defaultColDef]="defaultColDef" [paginationAutoPageSize]="true"
        (firstDataRendered)="onFirstDataRenderedSelected($event)" (gridSizeChanged)="onGridSizeChanged($event)"
        [columnDefs]="columnDefsSelectedProduct" [colResizeDefault]="colResizeDefault"
        (cellClicked)='onCellClickedCVE($event)'>
      </ag-grid-angular>
    </mat-tab>

  </mat-tab-group>
</div>
