.tableProduct {
  margin: 50px;
}

.center {
  text-align: center;
}

.id {
  text-align: center;
  width: 11%;
}

.date {
  text-align: center;
  width: 12%;
}

.cell-act {
  background: rgba(218, 155, 170);
  border: 1px solid black
}

.cell-bud {
  background: rgba(155, 218, 203);
  border: 1px solid black
}

.cell {
  background: white;
  border: 1px solid black
}

.div-first {
  margin-left: 1px;
  margin-right: 1px;
  width: auto;
  height: 30px;
  background-color: white;
}

.div-second {
  height: 10%;
  padding: 10px;
  background-color: white;
}

.span-style {
  padding-right: 10px;
  float: right;
  font-size: 9px;
}
