.user-summary-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  padding-top: 6vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.user-img:hover {
  opacity: 0.5;
}

.sm-screen-img-username:hover+.img-button {
  display: block;
  position: absolute;
  top: 40px;
}

.img-button:hover {
  display: block;
  position: absolute;
  top: 40px;
}

.img-button:hover+.sm-screen-img-username {
  opacity: 0.5;
  width: 500px;
}

.img-button {
  display: none;
}

.sm-screen-img-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-text {
  width: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.text-bold {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.list-p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-divider {
  width: 65%;
  background-color: #24a20bad;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 3px;
}

.fill-space {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

#searchField {
  width: 160px;
  font-size: 16px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.logout-button {
  width: 160px;
}

::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-text {
  margin: 0px;
}

.buttons {
  width: 75%;
}

.btn {
  width: 160px;
  background-color: #9bdacb;
  color: black;
  align-items: center;
  margin: 10px;
  margin-left: 0px;
  color: #24355c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #ffffff;
  color: #041121;
}

div.images>img {
  height: 30px;
  width: 30px;
}

.contacts {
  font-size: 12px;
  display: block;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.t {
  float: left;
}

.s {
  float: right;
}

.ts {
  font-size: 12px;
  flex-direction: column;
  justify-content: space-evenly;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span div {
  display: inline;
}
