<div class="user-summary-container">
  <div class="user-info">
    <div class="sm-screen-img-username">
      <img src="{{user.userProfileImgUrl}}" class="user-img">
    </div>
    
    <div class="img-button" (click)="fileInput.click()">
      <button mat-icon-button>
        <i class="material-icons">add_a_photo</i>
      </button>
      <input hidden #fileInput (change)="editUserImg(fileInput.files[0])" type="file">
    </div>

    <mat-list class="list-p">
      <p class="username-text">Hello, <span class="text-bold">{{user.username}}</span></p>
      &nbsp;
      &nbsp;
      <div class="buttons">

        <mat-form-field id="searchField" [style.width.px]=165>
          <mat-label>Search</mat-label>
          <input matInput="search" [(ngModel)]="searchString" (keyup.enter)="search()"
            placeholder="Keyword or CVE ID ..." />
        </mat-form-field>
        &nbsp;
        &nbsp;
        <button class="btn" mat-button (click)="reloadProducts()">
          <i class="material-icons">local_library</i>
          &nbsp;
          <p class="logout-text">Products</p>
        </button>

        <button class="btn" mat-button (click)=this.createProduct()>
          <i class="material-icons">library_add</i>
          &nbsp;
          <p class="logout-text">Add Product</p>
        </button>

        <button *ngIf="user.role === 'Admin'" class="btn" mat-button (click)=this.openDialogRegister()>
          <i class="material-icons">how_to_reg </i>
          &nbsp;
          <p class="logout-text">Register</p>
        </button>

        <button (click)="reloadUsers()" *ngIf="user.role === 'Admin'" class="btn" mat-button>
          <i class="material-icons"> supervisor_account </i>
          &nbsp;
          <p class="logout-text">Users</p>
        </button>

        <button *ngIf="user.role === 'Admin'" class="btn" mat-button (click)="updateCPE()">
          <i class="material-icons"> update </i>
          &nbsp;
          <p class="logout-text">CPEs</p>
        </button>

        <button *ngIf="user.role === 'Admin'" class="btn" mat-button (click)="updateCVE()">
          <i class="material-icons"> update </i>
          &nbsp;
          <p class="logout-text">CVEs</p>
        </button>

        <button *ngIf="user.role !== 'Admin'" class="btn" mat-button (click)="alertAdmin()">
          <i class="material-icons"> warning </i>
          &nbsp;
          <p class="logout-text">Alert</p>
        </button>
      </div>

    </mat-list>
  </div>

  <span class="fill-space"></span>

  <mat-list class="list-p">
    <div class="logout-button">
      <button mat-button (click)="logout()" class="btn">
        <i class="material-icons">exit_to_app</i>
        <p class="logout-text">Log Out</p>
      </button>
    </div>
  </mat-list>

  <div class="contacts">
    <span>petar.h.popov@gmail.com</span>
    <br>
    <span>petyr.5rov@gmail.com</span>
  </div>
  <br>
  <div class="ts">
    <div class="t">
      <span class="text-container">Technologies:</span>
      <div class="images ">
        <img src="./../../../../assets/angular-logo.svg" alt="">
        <img src="./../../../../assets/nestjs-logo.svg" alt="">
      </div>
    </div>
    &nbsp; &nbsp;
    <div class="s">
      <span class="text-container">Supported by:</span>
      <div class="images">
        <img src="./../../../../assets/telerik-academy-logo.png" alt="">
        <img src="./../../../../assets/doitwise-logo.png" alt="">
      </div>
    </div>
  </div>


</div>
