.home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .23);
  background-color: white;
}


.full-logo {
  width: 900px;
  height: 550px;
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;
}

.login-form-container {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 75px;
}

.logo-container {
  padding-top: 10px;
  text-align: center;
}

