<div class="home-container" *ngIf="!loggedIn">
  <div class="center-container">

    <div class="inner-container">
      <img src="./../../../../assets/home.png" class="full-logo">
      <div class="home-components" *ngIf="!loggedIn">

        <app-login></app-login>

      </div>
    </div>
  </div>
</div>
