<span class="inner-container">
  <img src="./../../../../assets/404.png" class="not-found">
  <div class="home-button">
    <button mat-raised-button color="primary" routerLink='/'>Home</button>
  </div>

</span>
