<div class="tableUsers">
  <ag-grid-angular style="width: 100%; height: calc(98vh - 100px);" class="ag-theme-balham" [unSortIcon]="true" [pagination]="true"
    [rowData]="rowData " enableCellExpressions="true" rowSelection="single" unSortIcon="true"
    [defaultColDef]="defaultColDef" [columnDefs]="columnDefs" [paginationAutoPageSize]="true"
    (gridSizeChanged)="onGridSizeChanged($event)">
  </ag-grid-angular>
</div>
