.mat-tab-header {
  display: none;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.input-field {
  width: 100%;
}

.button-container {
  width: 105%;
  display: flex;
  justify-content: space-between;
}
