<mat-tab-group class="new-user-form" mat-align-tabs="center">

  <mat-tab label="Create User">

    <br /><br />

    <div class="form-container">
      <form [formGroup]="createUser">

        <mat-form-field class="input-field">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput type="text" placeholder="Enter name here">
          <mat-error *ngIf="createUser.controls['name'].errors?.minlength">
            Username should be between 5 and 35 characters.
          </mat-error>
        </mat-form-field>
        <br /><br />

        <mat-form-field class="input-field">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput type="text" placeholder="Enter username here">
          <mat-error *ngIf="createUser.controls['username'].errors?.minlength">
            Username should be between 4 and 16 characters.
          </mat-error>
        </mat-form-field>
        <br /><br />

        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput type="text" placeholder="Enter email here">
          <mat-error *ngIf="createUser.controls['email'].errors?.minlength">
            Email should be valid and should be between 10 and 60 characters..
          </mat-error>
        </mat-form-field>
        <br /><br />

        <mat-form-field class="input-field">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput type="password" placeholder="******">
          <mat-error *ngIf="createUser.controls['password'].errors?.minlength">
            Password should be between 4 and 32 characters.
          </mat-error>
        </mat-form-field>
        <div class="button-container">
          <button mat-button (click)="onClickCloseModal()">Close</button>

          <button mat-button [disabled]="!createUser.valid" [mat-dialog-close]="createUser">Create User</button>
        </div>

      </form>
    </div>
  </mat-tab>
</mat-tab-group>
