<div class="app-container">
  <mat-drawer-container class="main-container">
    <mat-drawer mode="side" opened class="sidebar-container" *ngIf="loggedIn ">
      <app-user [user]="user"></app-user>
    </mat-drawer>
    <mat-drawer-content class="main-page-container" [class.main-page-after-log-in]="loggedIn">

      <span class="router-container" [class.router-container-after-log-in]="loggedIn">
        <router-outlet></router-outlet>
      </span>

    </mat-drawer-content>
  </mat-drawer-container>
</div>
