.app-container {
  height: 0vh;
}

.user-summary-as-header {
  display: none;
}

mat-drawer {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .23);
}

.sidebar-container {
  width: 220px;
}

.main-page-container {
  height: 98vh;
  background-color: rgb(155, 202, 218);
}

.main-page-after-log-in {
  background-color: rgb(155, 202, 218);
  position: block;
}

.router-container {
  margin-bottom: 0px;
  height: 98vh;
}

.router-container-after-log-in {
  margin-bottom: 108.35px;
  height: 98vh;
}

