<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="vendorGroup" [editable]="isEditable">
    <form [formGroup]="vendorGroup">
      <ng-template matStepLabel>Vendor</ng-template>
      <mat-form-field>
        <mat-label>Vendor</mat-label>
        <input matInput formControlName="vendor" placeholder="Ex. microsoft" required 
        [matAutocomplete]="autoVendor" #triggerV="matAutocompleteTrigger"
        (keydown.enter)="stepper.next(); $event.preventDefault(); triggerV.closePanel(); getNames()"
        (keydown.esc)="onClickCloseModal()">
        <mat-autocomplete #autoVendor="matAutocomplete">
          <mat-option *ngFor="let vendor of filteredVendors | async " [value]="vendor">
            {{vendor}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="vendorGroup.controls['vendor'].errors?.vendorIncluded">
          Pick a name from the given suggestions!
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button (click)="onClickCloseModal()">Cancel</button>
        <button mat-button matStepperNext (click)="getNames()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="nameGroup" [editable]="isEditable">
    <form [formGroup]="nameGroup">
      <ng-template matStepLabel>Name</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Ex. word" required
        [matAutocomplete]="autoName" #triggerN="matAutocompleteTrigger"
        (keydown.enter)="stepper.next(); $event.preventDefault(); triggerN.closePanel()"
        (keydown.esc)="onClickCloseModal()">
        <mat-autocomplete #autoName="matAutocomplete">
          <mat-option *ngFor="let name of filteredNames | async " [value]="name">
            {{name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="nameGroup.controls['name'].errors?.nameIncluded">
          Pick a name from the given suggestions!
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button (click)="onClickCloseModal()">Cancel</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="versionGroup" [editable]="true">
    <form [formGroup]="versionGroup">
      <ng-template matStepLabel>Version (Optional)</ng-template>
      <mat-form-field>
        <mat-label>Version</mat-label>
        <input matInput formControlName="version" placeholder="Ex. 2016" 
         (keydown.enter)="stepper.next(); $event.preventDefault(); getCPEs()"
         (keydown.esc)="onClickCloseModal()">
      </mat-form-field>
      <div>
        <button mat-button (click)="onClickCloseModal()">Cancel</button>
        <button mat-button matStepperNext (click)="getCPEs()">Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="cpeUri23Group" [editable]="true">
    <form [formGroup]="cpeUri23Group">
      <ng-template matStepLabel>CPE</ng-template>
      <mat-form-field>
        <mat-label>CPE</mat-label>
        <input matInput formControlName="cpeUri23" placeholder="Ex. Microsoft Word 2016 x64 (64bit)" required
         [matAutocomplete]="autoCpe" #triggerC="matAutocompleteTrigger"
          (keydown.enter)="stepper.next(); $event.preventDefault(); triggerC.closePanel()"
          (keydown.esc)="onClickCloseModal()"
          (keydown.ArrowLeft)="stepper.previous(); triggerC.closePanel()">
        <mat-autocomplete #autoCpe="matAutocomplete">
          <mat-option *ngFor="let cpe of displayCpes | async " [value]="cpe.cpeUri23">
            {{cpe.title}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="cpeUri23Group.controls['cpeUri23'].errors?.cpeIncluded">
          Pick a name from the given suggestions!
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onClickCloseModal()">Cancel</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p id="summary">
      Vendor: {{this.vendorGroup.get('vendor').value}}<br>
       Name: {{this.nameGroup.get('name').value}}<br>
       Version: {{this.versionGroup.get('version').value}}<br>
       CpeUri23: {{this.cpeUri23Group.get('cpeUri23').value}}<br>
      </p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onClickCloseModal()">Cancel</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button [mat-dialog-close]="cpeUri23Group">Create</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

